.container{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
margin-top: 20vh;
margin-bottom: 20vh;
height: auto;
width: 440px;
left: auto;
right: auto;
position: relative;
border: 5px solid rgb(41, 247, 178);
border-radius: 10px;
background-color: antiquewhite;
}

.fishka1{
  background-image: url(P1\ \(1\).png);
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  }

.fishka11{
background-image: url(P1\ \(1\).png);
width: 100px;
height: 100px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: absolute;
left: 60vh;
top: 20vh;
}
.fishka12{
background-image: url(P1\ \(1\).png);
width: 100px;
height: 100px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: absolute;
left: 60vh;
top: 25vh;
}
.fishka13{
background-image: url(P1\ \(1\).png);
width: 100px;
height: 100px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: absolute;
left: 60vh;
top: 30vh;
}
.fishka14{
background-image: url(P1\ \(1\).png);
width: 100px;
height: 100px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: absolute;
left: 60vh;
top: 35vh;
}
.fishka15{
background-image: url(P1\ \(1\).png);
width: 100px;
height: 100px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: absolute;
left: 60vh;
top: 40vh;
}
.fishka16{
background-image: url(P1\ \(1\).png);
width: 100px;
height: 100px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: absolute;
left: 60vh;
top: 45vh;
}
.fishka17{
background-image: url(P1\ \(1\).png);
width: 100px;
height: 100px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: absolute;
left: 60vh;
top: 50vh;
}
.fishka18{
background-image: url(P1\ \(1\).png);
width: 100px;
height: 100px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: absolute;
left: 60vh;
top: 55vh;
}


.fishka21{
  background-image: url(P1\ \(2\).png);
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
background-repeat: no-repeat;
position: absolute;
right: 60vh;
top: 60vh;
}
.fishka22{
  background-image: url(P1\ \(2\).png);
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
background-repeat: no-repeat;
position: absolute;
right: 60vh;
top: 55vh;
}
.fishka23{
  background-image: url(P1\ \(2\).png);
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
background-repeat: no-repeat;
position: absolute;
right: 60vh;
top: 50vh;
}
.fishka24{
  background-image: url(P1\ \(2\).png);
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
background-repeat: no-repeat;
position: absolute;
right: 60vh;
top: 45vh;
}
.fishka25{
  background-image: url(P1\ \(2\).png);
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
background-repeat: no-repeat;
position: absolute;
right: 60vh;
top: 40vh;
}
.fishka26{
  background-image: url(P1\ \(2\).png);
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
background-repeat: no-repeat;
position: absolute;
right: 60vh;
top: 35vh;
}
.fishka27{
  background-image: url(P1\ \(2\).png);
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
background-repeat: no-repeat;
position: absolute;
right: 60vh;
top: 30vh;
}
.fishka28{
  background-image: url(P1\ \(2\).png);
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
background-repeat: no-repeat;
position: absolute;
right: 60vh;
top: 25vh;
}
  


.row1{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.row2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row4{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell{
    width: 100px;
    height: 100px;
    background-color: rgb(17, 0, 255);
    color: rgb(255, 0, 0);
    margin-left: 5px;
    margin-bottom: 5px;
}


.newElement0{
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    background-image: url(A1.jpg)
}
.newElement1{
  margin-top: 5px;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    background-image: url(A2.jpg)
}
.newElement2{
  margin-top: 5px;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    background-image: url(A3.jpg)
}

.newElement3{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(A4.jpg)
}
.newElement4{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(Б1.jpg)
}
.newElement5{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(Б2.jpg)
}
.newElement6{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(Б3.jpg)
}
.newElement7{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(Б4.jpg)
}
.newElement8{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(В1.jpg)
}
.newElement9{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(В2.jpg)
}
.newElement10{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(В3.jpg)
}
.newElement11{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(В4.jpg)
}
.newElement12{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(Г1.jpg)
}
.newElement13{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(Г2.jpg)
}
.newElement14{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(Г3.jpg)
}
.newElement15{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(Г4.jpg)
}
.newElement16{
  margin-top: 5px;
  background-size: cover;
  background-position: center;
background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin-left: 5px;
  margin-bottom: 5px;
  background-image: url(А1.jpg)
}
.click1pl{
  width: 100px;
  height: 100px;
  background-image: url(P1\ \(1\).png);
  background-color: rgb(248, 144, 239);
  border-radius: 40px;
  z-index: 2;
}
.click2pl{
  width: 100px;
  height: 100px;
  background-image: url(P1\ \(2\).png);
  background-color: rgb(107, 252, 252);
  z-index: 2;
  border-radius: 40px;
}
.o{
  position: absolute;
  top: 10px;
  left: 46%;
  width: 150px;
  height: 150px;
}
@media (max-width:767px){
  *{
    margin: 0;
    padding: 0;
    background-color: rgb(251, 246, 255);
  }
  .container{
    padding: 0;
    margin-left: 0;
    margin-right: 0;
margin-top: 20vh;
margin-bottom: 20vh;
height: auto;
width: auto;
left: 0px;
position: relative;
border: 5px solid rgb(41, 247, 178);
border-radius: 10px;
background-color: antiquewhite;
}
.row1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  
}
.row2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.row3{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.row4{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.newElement0{
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    background-image: url(A1.jpg)
}
.newElement1{
  margin-top: 1px;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    background-image: url(A2.jpg)
}
.newElement2{
  margin-top: 1px;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    background-image: url(A3.jpg)
}

.newElement3{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(A4.jpg)
}
.newElement4{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(Б1.jpg)
}
.newElement5{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(Б2.jpg)
}
.newElement6{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(Б3.jpg)
}
.newElement7{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(Б4.jpg)
}
.newElement8{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(В1.jpg)
}
.newElement9{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(В2.jpg)
}
.newElement10{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(В3.jpg)
}
.newElement11{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(В4.jpg)
}
.newElement12{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(Г1.jpg)
}
.newElement13{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(Г2.jpg)
}
.newElement14{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(Г3.jpg)
}
.newElement15{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(Г4.jpg)
}
.newElement16{
  margin-top: 5px;
  background-size: cover;
  background-position: center;
background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin-left: 5px;
  margin-bottom: 5px;
  background-image: url(А1.jpg)
}
.click1pl{
  width: 100px;
  height: 100px;
  background-image: url(P1\ \(1\).png);
  background-color: rgb(248, 144, 239);
  border-radius: 40px;
  z-index: 2;
}
.click2pl{
  width: 100px;
  height: 100px;
  background-image: url(P1\ \(2\).png);
  background-color: rgb(107, 252, 252);
  z-index: 2;
  border-radius: 40px;
}
.o{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0px;
  left: 35%;
  width: 140px;
  height: 140px;
}
.fishka11{
  background-image: url(P1\ \(1\).png);
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0vh;
  top: 80vh;
  background-color: rgba(240, 248, 255, 0);
  }
  .fishka12{
  background-image: url(P1\ \(1\).png);
  background-color: rgba(240, 248, 255, 0);
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 80vh;
    left: 5vh;
  }
  .fishka13{
  background-image: url(P1\ \(1\).png);
  background-color: rgba(240, 248, 255, 0);
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
    top: 80vh;
    left: 10vh;
  
  }
  .fishka14{
  background-image: url(P1\ \(1\).png);
  background-color: rgba(240, 248, 255, 0);
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 80vh;
  left: 15vh;
  }
  .fishka15{
  background-image: url(P1\ \(1\).png);
  background-color: rgba(240, 248, 255, 0);
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 80vh;
  left: 20vh;
  }
  .fishka16{
  background-image: url(P1\ \(1\).png);
  background-color: rgba(240, 248, 255, 0);
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 80vh;
  left: 25vh;
  }
  .fishka17{
  background-image: url(P1\ \(1\).png);
  background-color: rgba(240, 248, 255, 0);
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 80vh;
  left: 30vh;
  }
  .fishka18{
  background-image: url(P1\ \(1\).png);
  background-color: rgba(240, 248, 255, 0);
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 80vh;
  left: 35vh;
  }
  
  
  .fishka21{
    background-image: url(P1\ \(2\).png);
    background-color: rgba(240, 248, 255, 0);
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0vh;
  top: 71.7vh;
  }
  .fishka22{
    background-image: url(P1\ \(2\).png);
    background-color: rgba(240, 248, 255, 0);
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 5vh;
  top: 71.7vh;
  }
  .fishka23{
    background-image: url(P1\ \(2\).png);
    background-color: rgba(240, 248, 255, 0);
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 10vh;
  top: 71.7vh;
  }
  .fishka24{
    background-image: url(P1\ \(2\).png);
    background-color: rgba(240, 248, 255, 0);
    width: 80px;
  height: 80px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 15vh;
  top: 71.7vh;
  }
  .fishka25{
    background-image: url(P1\ \(2\).png);
    background-color: rgba(240, 248, 255, 0);
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 20vh;
  top: 71.7vh;
  }
  .fishka26{
    background-image: url(P1\ \(2\).png);
    background-color: rgba(240, 248, 255, 0);
    width: 80px;
  height: 80px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 25vh;
  top: 71.7vh;
  }
  .fishka27{
    background-image: url(P1\ \(2\).png);
    background-color: rgba(240, 248, 255, 0);
    width: 80px;
  height: 80px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 30vh;
  top: 71.7vh;
  }
  .fishka28{
    background-image: url(P1\ \(2\).png);
    background-color: rgba(240, 248, 255, 0);
    width: 80px;
  height: 80px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 35vh;
  top: 71.7vh;
  }
}