*{
  margin: 0;
  padding: 0;
}
.timer1{
  border-radius: 20px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  border: 4px solid rgb(56, 45, 10);
  background-color: #dbd196;
  color: black;
  bottom: 20%;
  left: 10%;
  position: absolute;
}
.timer2{
  border-radius: 20px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  border: 4px solid rgb(56, 45, 10);
  background-color: #dbd196;
  color: black;
  bottom: 20%;
  right: 10%;
  position: absolute;
}
.footer__authorEng{
  display: none;
}
.footer__startEng{
  display: none;
}
.information1{
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  bottom: 15%;
  left: 34%;
  display: none;
}
.information2{
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  bottom: 15%;
  left: 34%;
  display: none;
}
.information3{
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  bottom: 15%;
  left: 34%;
  display: none;
}
.information4{
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  bottom: 15%;
  left: 34%;
  display: none;
}
.information1eng{
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  bottom: 15%;
  left: 34%;
  display: none;
}
.information2eng{
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  bottom: 15%;
  left: 34%;
  display: none;
}
.information3eng{
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  bottom: 15%;
  left: 34%;
  display: none;
}
.information4eng{
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  bottom: 15%;
  left: 34%;
  display: none;
}
.gold{
  color: gold;
}
.purple{
  color: blueviolet;
}
.container{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
margin-top: 20vh;
margin-bottom: 20vh;
height: auto;
width: 440px;
left: auto;
right: auto;
position: relative;
border: 5px solid rgb(41, 247, 178);
border-radius: 10px;
background-color: antiquewhite;
}
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(157, 236, 236);
  position: absolute;
  width: 96%;
  padding: 0 2%;
  bottom: 0px;
  height: 100px;
  font-size: 20px;
}
.socSet{
  text-decoration: none;
  color: black;
  position: absolute;
  bottom: 2px;
  left: 48%;
}
.socSet:hover{
  color: rgb(255, 253, 253);

}
.btnLang{
  background-color: #dbd196;
  color: rgb(59, 57, 25);
  width: 200px;
  height: 40px;
  top: 50px;
  right: 50px;
  position: absolute;
  font-weight: bold;
  cursor: cell;
  border-radius: 5px;
}
.btnLang:hover{
  background-color: rgb(59, 57, 25);
  color: #dbd196;
}
.myBtn{
  background-color: #dbd196;
  color: rgb(59, 57, 25);
  width: 200px;
  height: 40px;
  top: 50px;
  left: 50px;
  position: absolute;
  font-weight: bold;
  cursor: cell;
  border-radius: 5px;
}
.myBtn:hover{
  background-color: rgb(59, 57, 25);
  color: #dbd196;
}
.myBtnEng{
  background-color: #dbd196;
  color: rgb(59, 57, 25);
  width: 200px;
  height: 40px;
  top: 50px;
  left: 50px;
  position: absolute;
  font-weight: bold;
  cursor: cell;
  border-radius: 5px;
  display: none;
}
.myBtnEng:hover{
  background-color: rgb(59, 57, 25);
  color: #dbd196;
  display: none;
}
.modal{
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.801);
}

.modal-content{
  z-index: 6;
  background-color: #dbd196;
  border: 15px solid rgb(70, 48, 7);
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  text-align: center;
  justify-content: center;
  display: flex;
  position: relative;
}

.rules{
  color: rgb(70, 48, 7);
  font-weight: bold;
}
.rulesEng{
  color: rgb(70, 48, 7);
  font-weight: bold;
  display: none;
}
.close{
  color: rgb(252, 0, 0);
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transform: rotate(45deg);
  position: absolute;
  right: 20px;
  top: 10px;
}
.fishka1{
  background-image: url(Fishka2.png);
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 40%;
  }

  .fishka2{
    background-image: url(Fishka1.png);
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 40%;
  }

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cell{
    width: 100px;
    height: 100px;
    background-color: rgb(17, 0, 255);
    color: rgb(255, 0, 0);
    margin-left: 5px;
    margin-bottom: 5px;
}


.newElement0{
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    background-image: url(A1.jpg)
}
.newElement1{
  margin-top: 5px;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    background-image: url(A2.jpg)
}
.newElement2{
  margin-top: 5px;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    background-image: url(A3.jpg)
}

.newElement3{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(A4.jpg)
}
.newElement4{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(Б1.jpg)
}
.newElement5{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(Б2.jpg)
}
.newElement6{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(Б3.jpg)
}
.newElement7{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(Б4.jpg)
}
.newElement8{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(В1.jpg)
}
.newElement9{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(В2.jpg)
}
.newElement10{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(В3.jpg)
}
.newElement11{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(В4.jpg)
}
.newElement12{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(Г1.jpg)
}
.newElement13{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(Г2.jpg)
}
.newElement14{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(Г3.jpg)
}
.newElement15{
  margin-top: 5px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: url(Г4.jpg)
}
.newElement16{
  margin-top: 5px;
  background-size: cover;
  background-position: center;
background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin-left: 5px;
  margin-bottom: 5px;
  background-image: url(А1.jpg)
}
.click1pl{
  width: 100px;
  height: 100px;
  background-image: url(Fishka2.png);
  background-color: rgb(248, 144, 239);
  border-radius: 40px;
  z-index: 2;
}
.click2pl{
  width: 100px;
  height: 100px;
  background-image: url(Fishka1.png);
  background-color: rgb(107, 252, 252);
  z-index: 2;
  border-radius: 40px;
}
.o{
  position: absolute;
  top: 10px;
  left: 46%;
  width: 150px;
  height: 150px;
}
@media (max-width:767px){
  *{
    margin: 0;
    padding: 0;
  }
.row{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  
}

.newElement0{
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    background-image: url(A1.jpg)
}
.newElement1{
  margin-top: 1px;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    background-image: url(A2.jpg)
}
.newElement2{
  margin-top: 1px;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    background-image: url(A3.jpg)
}

.newElement3{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(A4.jpg)
}
.newElement4{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(Б1.jpg)
}
.newElement5{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(Б2.jpg)
}
.newElement6{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(Б3.jpg)
}
.newElement7{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(Б4.jpg)
}
.newElement8{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(В1.jpg)
}
.newElement9{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(В2.jpg)
}
.newElement10{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(В3.jpg)
}
.newElement11{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(В4.jpg)
}
.newElement12{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(Г1.jpg)
}
.newElement13{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(Г2.jpg)
}
.newElement14{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(Г3.jpg)
}
.newElement15{
  margin-top: 1px;
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-image: url(Г4.jpg)
}
.newElement16{
  margin-top: 5px;
  background-size: cover;
  background-position: center;
background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin-left: 5px;
  margin-bottom: 5px;
  background-image: url(А1.jpg)
}
.click1pl{
  width: 100px;
  height: 100px;
  background-image: url(Fishka2.png);
  background-color: rgb(248, 144, 239);
  border-radius: 40px;
  z-index: 2;
}
.click2pl{
  width: 100px;
  height: 100px;
  background-image: url(Fishka1.png);
  background-color: rgb(107, 252, 252);
  z-index: 2;
  border-radius: 40px;
}
.o{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 3px;
  left: 38%;
  width: 19%px;
  height: 100px;
}
.fishka1{
  background-image: url(Fishka2.png);
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0vh;
  top: 80vh;
  background-color: rgba(240, 248, 255, 0);
  }
  .fishka2{
  background-image: url(Fishka1.png);
  background-color: rgba(240, 248, 255, 0);
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 80vh;
    left: 5vh;
  }
  .timer1{
    border-radius: 20px;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border: 4px solid rgb(56, 45, 10);
    background-color: #dbd196;
    color: black;
    top: 9%;
    left: 10%;
    position: absolute;
    z-index: 4;
  }
  .timer2{
    border-radius: 20px;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border: 4px solid rgb(56, 45, 10);
    background-color: #dbd196;
    color: black;
    top: 9%;
    right: 10%;
    position: absolute;
    z-index: 4;
  }
  .information1{
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    bottom: 13%;
    left: 1%;
    display: none;
  }
  .information2{
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    bottom: 13%;
    left: 1%;
    display: none;
  }
  .information3{
    position: absolute;
    font-weight: bold;
    font-size: 19px;
    bottom: 13%;
    left: 1%;
    display: none;
  }
  .information4{
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    bottom: 13%;
    left: 1%;
    display: none;
  }
  .information1eng{
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    bottom: 13%;
    left: 1%;
    display: none;
  }
  .information2eng{
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    bottom: 13%;
    left: 1%;
    display: none;
  }
  .information3eng{
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    bottom: 13%;
    left: 1%;
    display: none;
  }
  .information4eng{
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    bottom: 13%;
    left: 1%;
    display: none;
  }
  .gold{
    color: gold;
  }
  .purple{
    color: blueviolet;
  }
  .container{
      padding: 0;
      margin-left: 0;
      margin-right: 0;
  margin-top: 15vh;
  margin-bottom: 20vh;
  height: auto;
  width: 97%;
  position: relative;
  border: 5px solid rgb(41, 247, 178);
  border-radius: 10px;
  background-color: antiquewhite;
  }
  footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(157, 236, 236);
    position: absolute;
    width: 96%;
    padding: 0 2%;
    bottom: 0px;
    height: 60px;
    font-size: 12px;
  }
  .socSet{
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 2px;
    left: 48%;
  }
  .socSet:hover{
    color: rgb(255, 253, 253);
  }
  .btnLang{
    background-color: #dbd196;
    color: rgb(59, 57, 25);
    width: 37%;
    height: 55px;
    top: 1px;
    right: 1px;
    position: absolute;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  .btnLang:hover{
    background-color: rgb(59, 57, 25);
    color: #dbd196;
  }
  .myBtn{
    background-color: #dbd196;
    color: rgb(59, 57, 25);
    width: 37%;
    height: 55px;
    top: 1px;
    left: 1px;
    position: absolute;
    font-weight: bold;
    cursor: cell;
    border-radius: 5px;
  }
  .myBtn:hover{
    background-color: rgb(59, 57, 25);
    color: #dbd196;
  }
  .myBtnEng{
    background-color: #dbd196;
    color: rgb(59, 57, 25);
    width: 37%;
    height: 55px;
    top: 1px;
    left: 1px;
    position: absolute;
    font-weight: bold;
    cursor: cell;
    border-radius: 5px;
    display: none;
  }
  .myBtnEng:hover{
    background-color: rgb(59, 57, 25);
    color: #dbd196;
    display: none;
  }
}